.pofile_page{
    margin-top: 15%;
}

.profile_page_container{
    margin: 0 33%;
    padding-bottom: 4%;
    background-color: white;
    border-radius: 4px;
    
}

.profile_input{
    display: grid;
    grid-template-columns: 1fx;
    justify-content: center;
}

.user_name > input,.user_email > input{
    margin-top: 10%;
    width: 300px;
    height: 50px;
}

.user_name > button,.user_email > button{
    border: none;
    background-color: white;
    margin: 0 10px ;
    color : rgb(49, 49, 233);
    width: 50px;
    height: 30px;
    cursor: pointer;
}

.delete_button{
    margin-top: 15%;
    display: flex;
    flex : column;
    justify-content: center;
    height: 50px;
}

.delete_button > button{
    padding: 3%;
    border: none;
    background-color: rgb(0, 71, 171);
    color : white;
    border-radius: 4px;
    cursor: pointer;
}

